html {
    margin: 0 auto;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    background-image: url("./IMG/stars1.png");
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

canvas {
    padding: 0;
    border: none;
    width: 100vw !important;
    height: 100vh !important;
}

#demo{
    width: 100vw;
    position: absolute;
    bottom: 0;
    padding: 1vh;
    background: white;
    font-size: 2vh;
}

.result {
    position: fixed;
    top: 1vh;
    right: 1vh;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 0.5vh;
    border-radius: 0.5vh;
    font-family: monospace;
    font-size: 1.5vh;
}

button{
    position: relative;
    font-size: 2vh;
    cursor: pointer;
    padding: 0.6vh;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid #ccc;
    border-radius: 1.5vh;
    color: khaki;
    width: auto;
    height: 3.75vh;
}
 
#start-button {
 /*    position: relative;
    margin:0 auto;
   top:20%;
   left:    50%;
   transform:translate(-50%, 0%);
    z-index: 111 !important;
    background: #007bff;
    color: white;
    border: none;
    transition: background-color 0.3s;
}
    #start-screen p{
    position: absolute;
    color: whitesmoke;
    top:20%;
    left:50%;
    transform:translate(-50%, 0%);*/
        } 
#start-screen{
    position: absolute;
    inset: 0em;
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0);
    display: flex;
     background-image: url("./IMG/stars1.png");
    color: white;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-family: Arial, sans-serif;
}

section{
    position: absolute;
    top: 1vh;
    left: 1vh;
    z-index: 800;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 1vh;
    border-radius: 0.5vh;
    font-family: monospace;
    font-size: 1.75vh;
    max-width: 30vw;
}

.open{
    display: flex;
}
.close{
    display: none;
}
@media screen and (max-width: 600px) {
    canvas {
        padding: 0;
        border: none;
    }

    .result {
        font-size: 2vh;
        padding: 1vh;
    }

    section {
        font-size: 2vh;
        padding: 1vh;
        max-width: 40vw;
    }

    button {
        font-size: 2.5vh;
        /* width: 6vh; */
        height: 4.5vh;
    }
}
